<streart-toolbar
        title="All about data"
        [showBackButton]="true"
></streart-toolbar>
<streart-flat-card-with-image
        title="You privacy matters"
        text="Here is everything we do with your data"
        titleClass="primary-color"
></streart-flat-card-with-image>
<div class="content">
    <h3 class="primary-color">What do you know about me?</h3>
    <ul>
        <li>Your email address</li>
        <li>Your registration date</li>
        <li>The last time you logged in</li>
        <li>Whether you confirmed your email address or not</li>
        <li>Every artist you added to your library and your progression</li>
        <li>Your progression on each piece</li>
        <li>Your account settings</li>
    </ul>
    <h3 class="primary-color">What don't you know about me?</h3>
    <ul>
        <li>Your geolocation (we don't store it and it strictly stays on your phone; it is not sent to our servers)</li>
        <li>Your geolocation history</li>
        <li>Anything that is on your phone (contacts, messages, photos...)</li>
        <li>Anything you don't explicitly provide us (your name, address, phone number...)</li>
        <li>Your IP address or anything that identifies your computer/phone</li>
    </ul>
    <h3 class="primary-color">Can I download all the data you have about me?</h3>
    <p>Yes. Please log in, then go to your settings and use the big button at the
        bottom of the page. All the data we associate your account with will be downloaded to
        your computer.</p>
    <h3 class="primary-color">Can I delete my account?</h3>
    <p>Yes. Please log in, then go to your settings and use the big red button at the
        bottom of the page.</p>
    <h3 class="primary-color">Is everything deleted when I delete my account?</h3>
    <p>Yes. Every piece of information associated with your account is permanently deleted
        from our server. No one (you included) will be able to access nor restore the data after
        the deletion is performed.</p>
    <h3 class="primary-color">How can I trust your software?</h3>
    <p>streart is fully open-source and the
        <a href="https://github.com/GaetanRoger/street-art-finder">Github repository is available here</a>.
        Feel free to check everything out, and even open an issue if you find something
        suspicious!</p>
    <h3 class="primary-color">Do you use external services?</h3>
    <p>Yes. Streart uses multiple external services.</p>
    <ul>
        <li><a href="https://firebase.google.com/">Firebase</a>: to store and perform server side operations
            <ul>
                <li><a href="https://firebase.google.com/products/firestore/">Firestore</a>: as a database</li>
                <li><a href="https://firebase.google.com/products/functions/">Cloud Functions</a>: as a server</li>
                <li><a href="https://firebase.google.com/products/hosting">Hosting</a>: as a static file server</li>
                <li><a href="https://firebase.google.com/products/auth/">Authentication</a>: as an authentication service</li>
                <li><a href="https://firebase.google.com/products/storage/">Storage</a>: as a file server for images</li>
            </ul>
        </li>
        <li><a href="https://www.algolia.com/">Algolia</a>: to provide full-text searches experience</li>
        <li><a href="https://tinypng.com/">Tinyjpg</a>: to reduce images size</li>
    </ul>
</div>