<streart-toolbar
        title="Join us!"
        [showBackButton]="true"
        [showSearchButton]="false"
></streart-toolbar>

<div class="title">
    <h1 class="primary-color">One more step</h1>
    <p>We won't ask you much</p>
</div>
<div class="form-container">
    <streart-login-form
            emailPlaceholder="Enter your e-mail address..."
            passwordPlaceholder="Choose a password..."
            secondaryButtonText="I'm already registered"
            secondaryButtonRouterLink="/users/login"
            class="form"
            [disabled]="registering"
            [errorMessage]="registeringFailedMessage"
            (formSubmitted)="formSubmitted($event)"
    ></streart-login-form>
</div>
<div class="my-data-container">
    <streart-my-data-link></streart-my-data-link>
</div>

