<h3>All's right?</h3>
<div class="buttons">
    <button mat-flat-button
            color="accent"
            (click)="createPiece()"
            [disabled]="creationLaunched"
    >
        <span *ngIf="!creationLaunched">Create the piece!</span>
        <span *ngIf="uploading">Uploading images...</span>
        <span *ngIf="creating">Creating in database...</span>
        <span *ngIf="done">Piece created!</span>
        <span *ngIf="errored">Error :(</span>
    </button>
</div>

<div class="main-image-upload" *ngIf="creationLaunched">
    <small>Main image upload (low)...</small>
    <mat-progress-bar mode="determinate" [value]="(lowUploadedPercentage$ | async) || 0"></mat-progress-bar>
</div>

<div class="main-image-upload" *ngIf="creationLaunched">
    <small>Main image upload (normal)...</small>
    <mat-progress-bar mode="determinate" [value]="(normalUploadedPercentage$ | async) || 0"></mat-progress-bar>
</div>

<div class="main-image-upload" *ngIf="creationLaunched">
    <small>Piece creation...</small>
    <mat-progress-bar mode="determinate" [value]="done ? 100 : 0"></mat-progress-bar>
</div>
