service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow write: if request.auth!=null && isAdmin();
      allow read;
    }

    function isAdmin() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles.admin == true;
    }

  }
}
