<form [formGroup]="joinFormGroup">
    <div class="error-chip">
        <mat-chip-list>
            <mat-chip *ngIf="errorMessage" color="warn" selected class="mat-elevation-z2">{{errorMessage}}</mat-chip>
        </mat-chip-list>
    </div>
    <fieldset [disabled]="disabled">
        <mat-form-field color="accent">
            <input matInput type="email" [placeholder]="emailPlaceholder" formControlName="email"/>
            <mat-error *ngIf="email.errors?.email">This e-mail is invalid</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
            <input matInput type="password" [placeholder]="passwordPlaceholder" formControlName="password"/>
            <mat-error *ngIf="password.errors?.minlength as minlength">Password is too short
                ({{minlength.actualLength}}/{{minlength.requiredLength}})
            </mat-error>
        </mat-form-field>
        <div class="submit-button-container">
            <button mat-raised-button
                    type="button"
                    *ngIf="secondaryButtonText"
                    [routerLink]="secondaryButtonRouterLink"
                    [disabled]="disabled"
            >
                {{secondaryButtonText}}
            </button>
            <button mat-raised-button color="accent" type="button" (click)="submit()"
                    [disabled]="joinFormGroup.invalid || disabled">
                GO!
            </button>
        </div>
    </fieldset>
</form>