<div class="piece-card" (click)="opened= !opened" [ngClass]="{selected: opened}">
    <div class="left">
        <streart-image [src]="progression.piece.images.main.low"
                      [round]="true"
                      [imgHeight]="50"
                      [imgWidth]="50"
                      *ngIf="progression.found"
                      class="image"></streart-image>
        <mat-icon *ngIf="!progression.found" class="not-found">help_outline</mat-icon>
        <div>
            <mat-card-title>{{progression.piece.name}}</mat-card-title>
            <small *ngIf="progression.piece.distance as distance">{{(distance / 1000)| number:'1.1-1'}} km from here
            </small>
            <small *ngIf="progression.piece.distance === null">Please <a routerLink="/users/settings">enable</a>
                geolocation to view distances
            </small>
        </div>
    </div>
    <mat-chip-list>
        <mat-chip [selected]="true" *ngIf="progression.found" class="mat-elevation-z3">Found!</mat-chip>
    </mat-chip-list>
    <!--<span *ngIf="progression.found">Found!</span>-->
    <!--<mat-icon class="found-icon" *ngIf="progression.found">check_circle</mat-icon>-->
</div>
<div class="details-container" *ngIf="opened">
    <div class="details">
        <div class="buttons">
            <button mat-button *ngIf="progression.found" (click)="showPicturesDialog()">PICTURES</button>
            <button mat-button *ngIf="!progression.found" color="warn"> GET SPOILED</button>
            <button mat-button (click)="showMapDialog()">MAP</button>
            <button mat-button color="accent" *ngIf="!progression.found" (click)="found.emit(true)">FOUND!</button>
            <button mat-button *ngIf="progression.found" (click)="found.emit(false)">SET NOT FOUND</button>
        </div>
    </div>

    <mat-divider></mat-divider>
</div>

