.piece-card {
    /*margin: 5px;*/
    padding: 15px;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.found-icon {
    color: #27AE60;
    font-size: 36px;
    width: 36px;
    height: 36px;
}

.image {
    margin-right: 20px;
}
.details {
    margin: 5px 10px;
    border-left: rgba(21, 21, 21, 0.1) 4px solid;
    padding: 0 10px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.selected {
    background-color: rgba(21, 21, 21, 0.05);
}

mat-divider {
    margin: 0 10px;
}
mat-card-title {
    display: block;
}
small {
    opacity: 0.8;
}