<div [formGroup]="formGroup" class="form">
    <mat-form-field>
        <input matInput placeholder="Name" type="text" formControlName="name" minlength="3">
        <mat-error *ngIf="name.errors?.minlength">Name must be at least {{name.errors.minlength.requiredLength}}
            characters long
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="text"></textarea>
        <mat-error *ngIf="text.errors?.minlength">Description must be at least {{text.errors.minlength.requiredLength}}
            characters long
        </mat-error>
    </mat-form-field>
    <div formGroupName="location" class="location">
        <mat-form-field>
            <input matInput
                   type="number"
                   placeholder="Latitude"
                   min="-90"
                   max="90"
                   formControlName="latitude">
            <mat-error *ngIf="latitude.errors">Value must be between -90 and 90</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput
                   type="number"
                   placeholder="Longitude"
                   min="-180"
                   max="180"
                   formControlName="longitude">
            <mat-hint *ngIf="address?.city">City found : {{address.city}}</mat-hint>
            <mat-error *ngIf="latitude.errors">Value must be between -180 and 180</mat-error>
        </mat-form-field>
    </div>
    <div class="city-container">
        <div *ngIf="location.errors?.noCity" class="city-error">
            There is no city there, I'm afraid.
            <span (click)="moreInfo()" class="more-info">(more info)</span>
        </div>
    </div>
    <mat-form-field>
        <input type="text" placeholder="Artist" matInput formControlName="artist" [matAutocomplete]="auto">
        <mat-hint>Start typing their name then select one</mat-hint>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
            <mat-option *ngFor="let artist of artists$ | async" [value]="artist">
                {{artist.name}}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="artist.errors?.invalid">Please select an artist from the dropdown list</mat-error>
    </mat-form-field>
    <div class="checkbox">
        <mat-checkbox formControlName="vanished">Vanished (does not exist anymore)</mat-checkbox>
    </div>
    <div class="checkbox">
        <mat-checkbox formControlName="accessible">Accessible to disabled people</mat-checkbox>
    </div>
</div>
<div class="buttons">
    <button mat-raised-button
            color="primary"
            matStepperNext
            [disabled]="formGroup.invalid">
        <span *ngIf="formGroup.invalid">Fill out all fields</span>
        <span *ngIf="formGroup.valid">Continue</span>
    </button>
</div>
