<div class="previews">
  <streart-artist-preview *ngFor="let artist of (artists$ | async) || []" [artist]="artist">
  </streart-artist-preview>
</div>
<div class="footerActions">
    <streart-load-more-button
            [noMoreToLoad]="noMoreToLoad$ | async"
            loadMoreButtonColor="normal"
            (loadMore)="loadMoreArtists()"
    ></streart-load-more-button>
</div>
<streart-loading-spinner *ngIf="loading$ | async"
                        text="Chargement des artistes..."
></streart-loading-spinner>
