<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
    <p>{{data.text}}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button
            class="yes-button"
            [color]="data.mainButtonColor || 'accent'"
            (click)="close(true)"
            [disabled]="mainButtonDisabled$ | async">
        <span *ngIf="!(mainButtonDisabled$ | async)">YES</span>
        <span *ngIf="mainButtonDisabled$ | async">{{countDown$ | async}} SEC...</span>
    </button>
    <button mat-raised-button
            class="no-button"
            (click)="close(false)">NO</button>
</mat-dialog-actions>