.container {
    width: 90%;
    text-align: center;
    margin: 50px auto;
}

h1 {
    font-weight: normal;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    opacity: 0.8;
}

.buttons {
    margin-top: 30px;
    text-align: center;
}

mat-icon {
    height: 100px;
    font-size: 100px;
    width: 100px;
    text-shadow: 0 0 5px rgba(150, 150, 150, 0.82);
    margin-top: 5px;
    margin-bottom: 5px;
}