<streat-toolbar
        title="Welcome to Streart"
        [showSearchButton]="true"
        (searchChange)="query = $event"
></streat-toolbar>


<streat-flat-card-with-image
        title="See them for real"
        text="{{(loggedIn$ | async) ? 'Come here' : 'Sign up'}} to create your own unique route"
        [primaryButtonText]="primaryButtonText$|async"
        [primaryButtonRouterLink]="primaryButtonRouterLink$|async"
        [secondaryButtonText]="(loggedIn$ | async) ? '' : 'Learn more'"
        secondaryButtonRouterLink="learn-more"
        image="/assets/images/paper-map-low.jpg"
></streat-flat-card-with-image>

<mat-divider></mat-divider>

<streat-if-online offlineText="Artists list needs an internet connexion to work.">
    <streat-home-artists-list [query]="query"></streat-home-artists-list>
</streat-if-online>
