<streart-toolbar
  title="Welcome to Streart"
  [showSearchButton]="true"
  (searchChange)="query = $event"
></streart-toolbar>

<streart-body-container>
  <streart-flat-card-with-image
    title="{{(loggedIn$ | async) ? 'Nice to see you back' : 'Beautiful art just meters away'}}"
    text="{{(loggedIn$ | async) ? 'Have you discovered everything yet?' : 'Awesome artists are creating amazing pieces in your city'}}"
    [primaryButtonText]="primaryButtonText$|async"
    [primaryButtonRouterLink]="primaryButtonRouterLink$|async"
    [secondaryButtonText]="(loggedIn$ | async) ? '' : 'Learn more'"
    secondaryButtonRouterLink="learn-more"
  ></streart-flat-card-with-image>

  <!--     [image]="responsive.isBigScreen() ? '/assets/images/paper-map.jpg' : '/assets/images/paper-map-low.jpg'" -->


  <streart-if-online
    offlineText="Sorry, you cannot browse artists while offline. But you can go to your dashboard for sure!">
    <streart-home-artists-list [query]="query"></streart-home-artists-list>
  </streart-if-online>

</streart-body-container>


