<streart-toolbar
  title="Welcome to Streart"
  [showSearchButton]="true"
  (searchChange)="query = $event"
></streart-toolbar>

<streart-body-container>
  <streart-flat-card-with-image
    title="See them for real"
    text="{{(loggedIn$ | async) ? 'Come here' : 'Sign up'}} to create your own unique route"
    [primaryButtonText]="primaryButtonText$|async"
    [primaryButtonRouterLink]="primaryButtonRouterLink$|async"
    [secondaryButtonText]="(loggedIn$ | async) ? '' : 'Learn more'"
    secondaryButtonRouterLink="learn-more"
    [image]="responsive.isBigScreen() ? '/assets/images/paper-map.jpg' : '/assets/images/paper-map-low.jpg'"
  ></streart-flat-card-with-image>

  <mat-divider></mat-divider>

  <streart-if-online
    offlineText="Sorry, you cannot browse artists while offline. But you can go to your dashboard for sure!">
    <streart-home-artists-list [query]="query"></streart-home-artists-list>
  </streart-if-online>

</streart-body-container>


