<h1 mat-dialog-title
    [matBadge]="unreadNotifications"
    matBadgeColor="warn"

>You got news!</h1>
<mat-dialog-content>
    <streat-help-bubble text="Swipe a notification when done reading"
                        uid="notifications.swipe"
    ></streat-help-bubble>
    <div *ngFor="let notification of notifications">
        <mat-divider></mat-divider>
        <streat-notification [notification]="notification"
                             (markAsRead)="markAsRead(notification.objectID)"
        ></streat-notification>
    </div>
    <div class="up-to-date" *ngIf="unreadNotifications === 0">
        You're up to date! :)
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button
            color="primary"
            [mat-dialog-close]="notifications">Close
    </button>
</mat-dialog-actions>

