<div *ngIf="(progressions | async)?.length > 0">
    <streat-help-bubble
            text="To access more options, right click (or hold down) an artist card!"
            uid="artists-progressions-right-click"
    ></streat-help-bubble>

    <streat-artist-progression
            *ngFor="let progression of progressions | async"
            [progression]="progression"
            (removeProgression)="removeProgression(progression)"
            (markAllAsFound)="markAllPiecesAsFound(progression)"
    >
    </streat-artist-progression>
</div>

<streat-use-discover-tab *ngIf="(progressions | async)?.length === 0 && !isFiltered"
                      (goToDiscover)="goToDiscover.emit()"
></streat-use-discover-tab>

<streat-loading-spinner *ngIf="loading"></streat-loading-spinner>