<div *ngIf="(progressions | async)?.length > 0">
    <streart-help-bubble
            text="To access more options, right click (or hold down) an artist card!"
            uid="artists-progressions-right-click"
    ></streart-help-bubble>

    <streart-artist-progression
            *ngFor="let progression of progressions | async"
            [progression]="progression"
            (removeProgression)="removeProgression(progression)"
            (markAllAsFound)="markAllPiecesAsFound(progression)"
    >
    </streart-artist-progression>
</div>

<streart-use-discover-tab *ngIf="(progressions | async)?.length === 0 && !isFiltered"
                         (goToDiscover)="goToDiscover.emit()"
></streart-use-discover-tab>

<streart-loading-spinner *ngIf="loading"></streart-loading-spinner>