<h1 mat-dialog-title>{{piece.name}}</h1>
<mat-dialog-content>
    <div style="height: 300px;"
         *ngIf="piece"
         leaflet
         [leafletOptions]="options"
         [leafletLayers]="baseLayers">
        <div [leafletLayer]="markerLayer" *ngIf="showMarker$ | async"></div>
        <div [leafletLayer]="circleLayer$ | async" *ngIf="!(showMarker$ | async) && circleLayer$ | async"></div>
    </div>
    <p class="added-on">
        Added on {{piece.addedOn * 1000 | date}}
    </p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
