<h1 mat-dialog-title>{{piece.name}}</h1>
<mat-dialog-content>
    <div class="map" *ngIf="pieceMapInput$ | async">
        <app-map
            [elements]="pieceMapInput$ | async"
            [layerToShow]="(showMarker$ | async) ? 'marker' : 'circle'"
            [zoom]="16"
        ></app-map>
    </div>
    <p class="added-on">
        Added on {{piece.addedOn * 1000 | date}}
    </p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Close</button>
    <a mat-button target="_blank" [href]="mapsUrl">GO THERE</a>
</mat-dialog-actions>
