<streart-toolbar
        title="Settings"
        [showBackButton]="true"
        [showSearchButton]="false"
></streart-toolbar>

<streart-help-bubble *ngIf="(geolocation.geolocationEnabled() | async) === false" [closable]="false">
    <div class="help-content">
        <span>Please allow the app to access your GPS location for better experience.</span>
        <button mat-flat-button color="primary" (click)="howToAllowGpsLocation($event)">HOW TO</button>
    </div>
</streart-help-bubble>

<div [formGroup]="settingsFormGroup" *ngIf="settingsFormGroup" class="form">
    <div class="error-chip">
        <mat-chip-list>
            <mat-chip *ngIf="errorMessage" color="warn" selected class="mat-elevation-z2">{{errorMessage}}</mat-chip>
        </mat-chip-list>
    </div>

    <mat-checkbox formControlName="approximateLocation" class="full-width" color="primary">
        User approximate coordinates
    </mat-checkbox>
    <mat-form-field *ngIf="approximateLocation.value" class="full-width">
        <input matInput type="number" min="1" formControlName="locationApproximation"
               placeholder="Radius of approximation"/>
        <span matSuffix>meters</span>
    </mat-form-field>

    <div class="my-data-container">
        <streart-my-data-link></streart-my-data-link>
    </div>

    <div class="full-width buttons">
        <button mat-raised-button color="primary" type="button" (click)="save()"
                [disabled]="settingsFormGroup.invalid || saving">
            {{saving ? 'SAVING...' : 'SAVE'}}
        </button>
    </div>
</div>

<div class="bottom-buttons">
    <button mat-raised-button
            [disabled]="generatingUserData"
            (click)="askToDownloadUserData()"
    >
        <span *ngIf="!generatingUserData">GET ALL MY DATA</span>
        <span *ngIf="generatingUserData">DOWNLOADING...</span>
    </button>

    <button mat-raised-button
            (click)="askForAccountDeletion()"
            color="warn">DELETE ACCOUNT
    </button>
</div>
<streart-loading-spinner
        *ngIf="!settingsFormGroup"
        text="Loading settings..."
></streart-loading-spinner>
