.help-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.help-content span {
    text-align: justify;
    margin-right: 20px;
}

.form {
    width: 96%;
    margin: 20px auto auto;
}

.full-width {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttons {
    margin-top: 10px;
    text-align: right;
}

.error-chip {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-buttons {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.bottom-buttons > button {
    margin-left: 5px;
}