.container {
    width: 90%;
    margin: auto;
    text-align: center;
}
h1 {
    font-weight: normal;
    font-size: 24px;
}
p {
    font-size: 16px;
}
.buttons {
    margin-top: 30px;
    text-align: center;
}