<app-toolbar
        title="Dashboard"
        [showSearchButton]="true"
        [showBackButton]="true"
        [menuItems]="menuItems"
></app-toolbar>
<mat-tab-group mat-stretch-tabs [dynamicHeight]="true" (selectedTabChange)="tabChanged($event)"
               [selectedIndex]="selectedIndex">
    <mat-tab label="PROGRESSION">
        <app-artists-progressions [progressions]="progressions$"
                                  (goToDiscover)="selectedIndex = 2"></app-artists-progressions>
    </mat-tab>
    <mat-tab label="ALL" *ngIf="(progressions$ | async) && (progressions$ | async)?.length > 0">
        <app-all [selected$]="mapTabBehaviourSubject"></app-all>
    </mat-tab>
    <mat-tab label="DISCOVER">
        <app-discover [progressions]="progressions$"></app-discover>
    </mat-tab>
</mat-tab-group>


