<streat-toolbar
        [title]="title | async"
        [showSearchButton]="true"
        [showBackButton]="true"
        (searchChange)="filterArtist($event)"
        [menuItems]="menuItems"
></streat-toolbar>
<streat-notifications></streat-notifications>
<mat-tab-group mat-stretch-tabs [dynamicHeight]="true" (selectedTabChange)="tabChanged($event)"
               [selectedIndex]="selectedIndex">
    <mat-tab label="PROGRESSION">
        <streat-artists-progressions [progressions]="progressions$"
                                  [isFiltered]="!!(filter$ | async)"
                                  (goToDiscover)="selectedIndex = 2"></streat-artists-progressions>
    </mat-tab>
    <mat-tab label="ALL" *ngIf="(progressions$ | async) && (progressions$ | async)?.length > 0">
        <streat-all [selected$]="mapTabBehaviourSubject"></streat-all>
    </mat-tab>
    <mat-tab label="DISCOVER">
        <streat-discover [progressions]="progressions$"></streat-discover>
    </mat-tab>
</mat-tab-group>


