<streat-admin-toolbar
        title="Add piece"
></streat-admin-toolbar>

<form [formGroup]="pieceFormGroup">
    <mat-horizontal-stepper [linear]="true">
        <mat-step [stepControl]="general" label="General">
            <streat-admin-add-piece-general-info [formGroup]="general"></streat-admin-add-piece-general-info>
        </mat-step>
        <mat-step label="Images">
            <streat-admin-add-piece-images
                    [editing]="editing"
                    (mainImage)="mainImage = $event"
            ></streat-admin-add-piece-images>
        </mat-step>
        <mat-step label="Finish">
            <streat-admin-add-piece-finish [mainImage]="mainImage"
                                        [pieceFormGroup]="pieceFormGroup"></streat-admin-add-piece-finish>

        </mat-step>
    </mat-horizontal-stepper>
</form>

<!--{{pieceFormGroup.value|json }}-->
