<streart-admin-toolbar
        title="Add piece"
></streart-admin-toolbar>

<form [formGroup]="pieceFormGroup">
    <mat-horizontal-stepper [linear]="true">
        <mat-step [stepControl]="general" label="General">
            <streart-admin-add-piece-general-info [formGroup]="general"></streart-admin-add-piece-general-info>
        </mat-step>
        <mat-step label="Images">
            <streart-admin-add-piece-images
                    [editing]="editing"
                    (mainImage)="mainImage = $event"
                    (uploadImages)="uploadImages = $event"
            ></streart-admin-add-piece-images>
        </mat-step>
        <mat-step label="Finish">
            <streart-admin-add-piece-finish [mainImage]="mainImage"
                                           [editing]="editing"
                                           [editingPieceId]="editingPieceId"
                                           [uploadImages]="uploadImages"
                                           [pieceFormGroup]="pieceFormGroup"></streart-admin-add-piece-finish>

        </mat-step>
    </mat-horizontal-stepper>
</form>

<!--{{pieceFormGroup.value|json }}-->
