<streat-toolbar
        title="Dashboard"
        [showSearchButton]="false"
        [showBackButton]="true"
        [image]="(artist$ | async)?.images.horizontal.low"
></streat-toolbar>
<div class="title">
    <h1 class="primary-color">{{(artist$ | async)?.name}}</h1>
    <div class="buttons">
        <button mat-button (click)="hideFound.next(!hideFound.value)">
            <mat-icon *ngIf="!hideFound.value">visibility</mat-icon>
            <mat-icon *ngIf="hideFound.value">visibility_off</mat-icon>
            <span> found pieces </span>
            <span *ngIf="!hideFound.value">shown</span>
            <span *ngIf="hideFound.value">hidden</span>
        </button>
    </div>
</div>

<streat-dashboard-piece-progression *ngFor="let progression of progressions$ | async"
                                 [progression]="progression"
                                 (found)="markAsFound(progression.objectID, $event)"
></streat-dashboard-piece-progression>

<div class="footer">
    <button mat-button *ngIf="!(showVanishedPieces$ | async)" (click)="seeVanishedPieces()">See vanished pieces</button>
    <button mat-button *ngIf="showVanishedPieces$ | async" (click)="hideVanishedPieces()">Hide vanished pieces</button>
</div>

<div *ngIf="showVanishedPieces$ | async">
    <div *ngFor="let vanishedPiece of vanishedPieces$ | async">
        {{vanishedPiece.name}}
    </div>
</div>