<streart-toolbar
        title="Dashboard"
        [showSearchButton]="false"
        [showBackButton]="true"
        [image]="(artist$ | async)?.images.horizontal.low"
></streart-toolbar>
<div class="title">
    <h1 class="primary-color">{{(artist$ | async)?.name}}</h1>
    <div class="buttons">
        <button mat-button (click)="hideFound.next(!hideFound.value)">
            <mat-icon *ngIf="!hideFound.value">visibility</mat-icon>
            <mat-icon *ngIf="hideFound.value">visibility_off</mat-icon>
            <span> found pieces </span>
            <span *ngIf="!hideFound.value">shown</span>
            <span *ngIf="hideFound.value">hidden</span>
        </button>
    </div>
</div>

<streart-dashboard-piece-progression *ngFor="let progression of progressions$ | async"
                                    [progression]="progression"
                                    (found)="markAsFound(progression.objectID, $event)"
></streart-dashboard-piece-progression>



<div class="footer" *ngIf="artist$ | async as artist">
    <button mat-button routerLink="/vanished-pieces/{{artist.objectID}}">See vanished pieces</button>
</div>
