@import "src/theme/vars";
@import 'node_modules/@angular/material/theming';
$border-radius: 10px;

.join-now-card {
  margin: 10px 5px 20px;
  border-radius: $border-radius;
  display: flex;

  @media screen and (min-width: $bigScreenSize) {
    background: transparent;
  }
}

.join-now-card .left-image {
  flex: 3;
  background-size: cover;
  background-position: center;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;

  @media screen and (min-width: $bigScreenSize) {
    display: none;
  }

}

.join-now-card .right-text {
  flex: 7;
  padding: 5px;
  margin-left: 10px;
  font-size: 14px;

  @media screen and (min-width: $bigScreenSize) {
    font-size: 30px;
    text-align: center;
  }
}

.join-now-card .right-text h4 {
  font-weight: normal;
  font-size: 170%;
  opacity: 0.9;
  margin: 5px 0 0;
  color: mat-color($primary);
}

.join-now-card .right-text p {
  margin-top: 5px;
  opacity: 0.6;
}

.join-now-card .right-text .buttons {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.join-now-card .right-text .buttons button {
  font-size: 14px;
  text-transform: uppercase;
}
