<streart-admin-toolbar title="Admin dashboard"></streart-admin-toolbar>

<div *ngIf="aggregates$ | async as aggregates" class="buttons">
    <div class="users column">
        <button mat-raised-button routerLink="users">
            {{aggregates.usersCount}} users
        </button>
    </div>
    <div class="artists column">
        <button mat-raised-button routerLink="artists">
            {{aggregates.artistsCount}} artists
        </button>
    </div>
    <div class="pieces column">
        <button mat-raised-button routerLink="pieces">
            {{aggregates.piecesCount}} pieces
        </button>
        <button mat-button routerLink="add-piece">Add piece</button>
    </div>
</div>
