.buttons {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 10px auto auto;
    justify-content: space-evenly;
}
.buttons > * {
    flex: 1;
}
.column {
    text-align: center;
}