<app-admin-toolbar title="Admin dashboard"></app-admin-toolbar>

<div *ngIf="aggregates$ | async as aggregates" class="buttons">
    <button mat-raised-button routerLink="users">
        {{aggregates.usersCount}} users
    </button>
    <button mat-raised-button>
        {{aggregates.artistsCount}} artists
    </button>
    <button mat-raised-button>
        {{aggregates.piecesCount}} pieces
    </button>
</div>

<div>
    <input type="file" accept="image/*" placeholder="Image" (change)="imageUrlChanged($event.target.files[0])"/>
    <angular-cropper #cropper
                     (ready)="onCropperReady()"
                     [imageUrl]="path$ | async"
                     [cropperOptions]="cropperOptions"
    ></angular-cropper>
</div>
