<h1 mat-dialog-title>{{piece.name}}</h1>
<mat-dialog-content>
    <div class="map" *ngIf="pieceMapInput$ | async">
        <streart-map
                [elements]="pieceMapInput$ | async"
                [layerToShow]="(showMarker$ | async) ? 'marker' : 'circle'"
                [zoom]="16"
        ></streart-map>
    </div>
    <p class="added-on">
        Added on {{piece.addedOn | timestamp}}
    </p>
  <p class="vanished warn" *ngIf="piece.tags.vanished"
     matTooltip="Unfortunately, you will not find anything if you go there." #tooltip="matTooltip"
    (click)="tooltip.show()"
  >
    This piece does not exist anymore.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button color="warn"
            class="edit-piece-button"
            *ngIf="showAdminButton$ | async"
            mat-dialog-close [routerLink]="['/admin', 'add-piece', piece.objectID]">
        <mat-icon>settings_input_component</mat-icon>
        EDIT
    </button>
    <a mat-button target="_blank"
       class="itinerary-button"
       [href]="itineraryUrl$ | async">GO THERE</a>
</mat-dialog-actions>
