.added-on, .vanished {
    opacity: 0.7;
    font-size: 14px;
}

.vanished {
  text-align: center;
}

mat-dialog-actions {
    display: flex;
    justify-content: space-between;
}

.map {
    height: 300px;
}
