.artist-card {
    margin: 5px;
    padding: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255,255, 0.8)), url("/assets/dev/hfdmsfdmdflmdf-low.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

mat-progress-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 8px;
    border-radius: 3px;
    color: red;
}

.mat-progress-bar-fill::after {
    background-color: red;
}

.progression-values {
    text-align: right;
}