<streart-admin-toolbar
        title="Pieces"
        [showSearchButton]="true"
        (searchChange)="filter$.next($event)"

></streart-admin-toolbar>

<streart-selectable-list
        [elements$]="pieces$"
        [working$]="working$"

        [mainText]="mainText"
        [subText]="subText"

        primaryButton="DELETE"
        primaryButtonConfirmText="All users' progressions will be lost and the piece gone forever!"
        [primaryButtonConfirmDelayed]="true"
        (primaryButtonClick)="deleteSelectedPieces()"

        secondaryButton="VANISH/UNVANISH"
        secondaryButtonConfirmText="Everyone's progression will be lost!"
        [secondaryButtonConfirmDelayed]="true"
        (secondaryButtonClick)="markAsVanished()"

        (selectionChanged)="selectedPieces = $event"
></streart-selectable-list>