<div class="join-now-card">
    <div class="left-image" [style]="backgroundImageProperty">
    </div>
    <div class="right-text">
        <h4>{{title}}</h4>
        <p>{{text}}</p>
        <div class="buttons">
            <!-- IF a text is provided for the primary button -->
            <div *ngIf="primaryButtonText">
                <!-- IF the primary button is a router link -->
                <button
                        *ngIf="primaryButtonRouterLink"
                        mat-raised-button
                        color="primary"
                        [routerLink]="primaryButtonRouterLink">
                    {{primaryButtonText}}
                </button>
                <!-- ELSE IF the primary button is an external link -->
                <a mat-raised-button
                   color="primary"
                   [href]="primaryButtonExternalLink"
                   *ngIf="primaryButtonExternalLink"
                >
                    {{primaryButtonText}}
                </a>
            </div>
            <!-- IF a text is provided for the secondary button -->
            <div *ngIf="secondaryButtonText">
                <!-- IF the secondary button is a router link -->
                <button
                        *ngIf="secondaryButtonRouterLink"
                        mat-button
                        color="primary"
                        [routerLink]="secondaryButtonRouterLink">
                    {{secondaryButtonText}}
                </button>
                <!-- ELSE IF the secondary button is an external link -->
                <a mat-button
                   color="primary"
                   [href]="secondaryButtonExternalLink"
                   *ngIf="secondaryButtonExternalLink"
                >
                    {{secondaryButtonText}}
                </a>
            </div>
        </div>
    </div>
</div>
