<div *ngIf="artist$ | async as artist">
    <streat-toolbar
            [title]="artist.name"
            [showSearchButton]="true"
            [showBackButton]="true"
            [image]="artist.images.horizontal.low"
            (searchChange)="filter$.next($event)"
    ></streat-toolbar>

    <streat-flat-card-with-image
            [title]="artist.name"
            [text]="artist.text"
            [image]="artist.images.vertical.low"
            secondaryButtonText="Visit website"
            [secondaryButtonExternalLink]="artist.website"
    ></streat-flat-card-with-image>

    <div *ngIf="pieces.length > 0">
        <streat-piece *ngFor="let piece of pieces" [piece]="piece"></streat-piece>
        <div *ngIf="pieces.length === 0 && !filter$.getValue()">
            No pieces were yet uploaded.
        </div>
        <div *ngIf="pieces.length === 0 && filter$.getValue()">
            No pieces were found with your query.
        </div>
    </div>

    <streat-load-more-button
            [noMoreToLoad]="noMoreToLoad"
            (loadMore)="loadPieces()"
    ></streat-load-more-button>

</div>
<div *ngIf="!(artist$ | async)">
    <streat-toolbar
            title="Chargement"
            [showBackButton]="true"
    ></streat-toolbar>
    <streat-loading-spinner text="Chargement de l'artiste...">
    </streat-loading-spinner>
</div>
