<div *ngIf="artist$ | async as artist">
    <streart-toolbar
            [title]="artist.name"
            [showSearchButton]="true"
            [showBackButton]="true"
            [image]="artist.images.horizontal"
            (searchChange)="search($event)"
    ></streart-toolbar>

    <streart-flat-card-with-image
            [title]="artist.name"
            [text]="artist.text"
            [image]="artist.images.vertical.low"
            secondaryButtonText="Visit website"
            [secondaryButtonExternalLink]="artist.website"
    ></streart-flat-card-with-image>

    <div *ngIf="pieces$ | async as pieces" class="pieces">
        <streart-piece *ngFor="let piece of pieces" [piece]="piece" [color]="artist.color"></streart-piece>
        <div *ngIf="!(loading$ | async)">
            <div *ngIf="pieces.length === 0 && !filter$.getValue()">
                No pieces were yet uploaded.
            </div>
            <div *ngIf="pieces.length === 0 && filter$.getValue()">
                No pieces were found with your query.
            </div>
        </div>
    </div>

    <streart-load-more-button
            [noMoreToLoad]="noMoreToLoad$ | async"
            [disabled]="(loading$ | async) || (pieces$ | async)?.length === 0"
            (loadMore)="loadMore()"
    ></streart-load-more-button>

</div>
<div *ngIf="!(artist$ | async)">
    <streart-toolbar
            title="Chargement"
            [showBackButton]="true"
    ></streart-toolbar>
    <streart-loading-spinner text="Chargement de l'artiste...">
    </streart-loading-spinner>
</div>
