@import 'theme/vars';

/* Resetting CSS */
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

/* Applying theme color globally */
.primary-color {
  color: mat-color($primary);
}
.warn, .warn mat-icon {
  color: mat-color($warn);
}



/* Other */
.mat-tab-body-wrapper{
  flex-grow: 1;
}
.no-padding-on-dialog .mat-dialog-container {
  padding: 0;
}