.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar {
    background-position: center;
    background-size: cover;
    color: white;
}

.back-arrow {
    margin-right: 5px;
}

.search-row {
    background-color: rgba(21,21,21,0.5);
}
.search-field {
    width: 100%;
}